<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    {% for models_producto in produc %}
    <h3>Producto: {{models_producto.nombre}}</h3>
    <p>Precio: {{models_producto.precio}}</p>


    {% endfor %}
</body>
</html>
    </form>        
        <a class="btn btn-primary" href="{% url 'eliminar_producto' %}">Eliminar</a>
        <a class="btn btn-primary" href="{% url 'editar_producto' %}">Editar producto</a>
    </button> 
    ___________________________________________
    <p></p>
</body>
</html>