<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Producto: {{models_producto.nombre}}</h1>
    
    {% for models_producto in produc %}
    <h1>Producto: </h1>
   
    <h1>Producto: {{productosFormulario.nombre}}</h1>
    <p>Precio: {{models_producto.precio}}</p>

    **********************************************
    {% endfor %}
</body>
</html>