{% extends "app1/registro/padreRegistro.html" %}

{% block comienzo %}
    <header class="masthead1">
        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <a class="btn btn-primary" href="{% url 'iniciar_sesion' %}">Iniciar Sesion</a>
            <a class="btn btn-primary" href="{% url 'registro' %}">Registrarte</a>            
            <br>
            <br>
            <br>
            <br>
        </div>
    </header>
{% endblock %}