<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block resultado %}
    <h3>Buscando el producto : {{nombre}}</h3>

        {% for models_producto in productos %}

        <p>producto: {{models_producto.nombre}}</p>
        <p>precio: {{models_producto.precio}}</p>

        {% endfor %}
    {% endblock %}

</body>
</html>